{
	"update":{
		"latest":{
			"Version":"v0.2.3",
			"ActionS":[
				{"Do":"AddField_Set","Key":"schemaversion","Value":""},
				{"Do":"AddField_Set","Key":"PATH_DocS","Value":"DocS"},
				{"Do":"AddField_Set","Key":"PATH_DocSet","Value":"DocSet"},
				{"Do":"AddField_Set","Key":"PATH_DocAdd","Value":"DocAdd"},
				{"Do":"AddField_Set","Key":"DOC_DocAddFormat","Value":"htm,html,txt"},
				{"Do":"AddField_Set","Key":"PATH_Sources","Value":"SourceS"},
				{"Do":"AddField_Set","Key":"PATH_Parts","Value":"PartS"},
				{"Do":"AddField_Set","Key":"DOC_StartPage","Value":"start.html"},
				{"Do":"AddField_Set","Key":"DOC_Lang","Value":"de"},
				{"Do":"AddField_Set","Key":"SET_TimeZone","Value":"Europe/Berlin"},
				{"Do":"AddField_Set","Key":"SET_ErrorReporting","Value":"true"},
				{"Do":"AddField_Set","Key":"UpdServer","Value":"https://scs.hennott.de/index.php"},
				{"Do":"AddField_Set","Key":"UpdAccount","Value":""},
				{"Do":"AddField_Set","Key":"UpdApiKey","Value":""},
				{"Do":"AddField_Set","Key":"UpdFile","Value":"stable"},
				{"Do":"AddField_Set","Key":"UpdProxy","Value":"false"},
				{"Do":"AddField_Set","Key":"UpdProxyAddr","Value":""},
				{"Do":"AddField_Set","Key":"UpdProxyAuth","Value":"false"},
				{"Do":"AddField_Set","Key":"UpdActivated","Value":"false"},
				{"Do":"SetField_Set","Key":"UpdServer","Value":"https://scs.hennott.de/index.php"},
				{"Do":"SetField_Set","Key":"DocExportBase","Value":"false"},
				{"Do":"SetField_Set","Key":"DocExportExtend","Value":"true"},
				{"Do":"SetField_Set","Key":"DocExportPub","Value":"true"},
				{"Do":"SetField_Set","Key":"DocExportUser","Value":"true"},
				{"Do":"SetField_Set","Key":"DocExportExpert","Value":"true"},
				{"Do":"SetField_Set","Key":"schemaversion","Value":"v0.0.5 (2015-08-11)"}
			]
		}
	}
}