{"update":"2015-08-05 15:49","CopyS":{"DocS\\AutoDoc Dokumentation\\DocSet":{"SourceS\\AutoDoc SelfDoc\\autodoc.php":true,"SourceS\\AutoDoc SelfDoc\\composer.php":true,"SourceS\\AutoDoc SelfDoc\\de.lang":true,"SourceS\\AutoDoc SelfDoc\\en.lang":true,"SourceS\\AutoDoc SelfDoc\\grabber.php":true,"SourceS\\AutoDoc SelfDoc\\index.php":true,"SourceS\\AutoDoc SelfDoc\\lib.php":true,"SourceS\\AutoDoc SelfDoc\\my.config":true,"SourceS\\AutoDoc SelfDoc\\set.config":true,"SourceS\\AutoDoc SelfDoc\\template.config":true,"SourceS\\AutoDoc SelfDoc\\workflow.php":true}},"ComposeS":{"SourceS\\composed.js":{"PartS\\JS\\jQuery\\jquery.datatables.js":true,"PartS\\JS\\jQuery\\jquery.js":true}},"Workflow":{"AutoDocRun":{"DocS\\AutoDoc Dokumentation":true}}}