{
	"schemaversion":"v0.0.3 (2015-08-04)",
	"PATH_DocS": "DocS",
	"PATH_DocSet": "DocSet",
	"PATH_DocAdd": "DocAdd",
	"DOC_DocAddFormat": "htm,html,txt",
	"PATH_Sources": "SourceS",
	"PATH_Parts": "PartS",
	"DOC_StartPage": "start.html",
	"DOC_Lang": "de",
	"SET_TimeZone": "Europe/Berlin",
	"SET_ErrorReporting": true
}