{
    "update": "2016-05-13 10:29",
    "CopyS": {
        "DocS\\Doccen Dokumentation\\DocSet": {
            "SourceS\\Doccen SelfDoc\\autodoc.php": true,
            "SourceS\\Doccen SelfDoc\\composer.php": true,
            "SourceS\\Doccen SelfDoc\\de.lang": true,
            "SourceS\\Doccen SelfDoc\\en.lang": true,
            "SourceS\\Doccen SelfDoc\\grabber.php": true,
            "SourceS\\Doccen SelfDoc\\index.php": true,
            "SourceS\\Doccen SelfDoc\\lib.php": true,
            "SourceS\\Doccen SelfDoc\\my.config": true,
            "SourceS\\Doccen SelfDoc\\set.config": true,
            "SourceS\\Doccen SelfDoc\\template.config": true,
            "SourceS\\Doccen SelfDoc\\workflow.php": true
        },
        "DocS\\Doccen Dokumentation\\DocAdd": {

        },
        "DocS\\Musterprojekt als Vorlage\\DocSet": {
            "SourceS\\CampusApp.js": true
        }
    },
    "ComposeS": {
        "SourceS\\composed.js": {
            "PartS\\JS\\jQuery\\jquery.js": true,
            "PartS\\JS\\SPiX\\spix.BuildMagicalLayout.js": true,
            "PartS\\JS\\SPiX\\spix.GetAllItems.js": true
        }
    },
    "Workflow": {
        "AutoDocRun": {
            "DocS\\Doccen Dokumentation": true
        }
    }
}