{
    "schemaversion": "v0.0.5 (2015-08-11)",
    "PATH_DocS": "DocS",
    "PATH_DocSet": "DocSet",
    "PATH_DocAdd": "DocAdd",
    "DOC_DocAddFormat": "htm,html,txt",
    "PATH_Sources": "SourceS",
    "PATH_Parts": "PartS",
    "DOC_StartPage": "start.html",
    "DOC_Lang": "de",
    "SET_TimeZone": "Europe\/Berlin",
    "SET_ErrorReporting": "true",
    "UpdServer": "https:\/\/scs.hennott.de\/index.php",
    "UpdAccount": "",
    "UpdApiKey": "",
    "UpdFile": "stable",
    "UpdProxy": "false",
    "UpdProxyAddr": "",
    "UpdProxyAuth": "false",
    "UpdActivated": "false",
    "DocExportBase": "false",
    "DocExportExtend": "true",
    "DocExportPub": "true",
    "DocExportUser": "true",
    "DocExportExpert": "true"
}