<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<style>
			html, body, #Wrapper, .FullHeight { min-height: 100% !important; height: 100%; }
			body { border-width: 0px; padding: 0px; margin: 0px; font-size: 10pt; font-family: Open Sans; background-color: #DDDDDD; }
			#Wrapper { position: relative; width: 90%; max-width: 1200px; margin-left: auto; margin-right: auto; }
			#Col1 { position: relative; float: left; left: 0px; width: 100px; height: 100%; }
			#Col2 { position: relative; float: left; left: 0px; width: 300px; height: 100%; }
			#Col3 { position: relative; float: left; left: 0px; width: calc(100% - 400px); min-width: 200px; height: 100%; }
			.ColGrey { background-color: #AAAAAA; color: #FFFFFF;  }
			.ColColor { background-color: #0096ff; color: #FFFFFF; }
			.ColWhite { background-color: #FFFFFF; color: #000000; }
			#NavBar { overflow-x: hidden; overflow-y: auto; height: calc(100% - 10px); padding: 5px; }
			#LeftContent { overflow-x: hidden; overflow-y: auto; height: calc(100% - 10px); }
			#RightContent { overflow-x: hidden; overflow-y: auto; height: calc(100% - 10px); }
			h1 { color: #0096ff; font-size: 20pt; font-weight: normal; margin: 5px; margin-top: 30px; }
			.Headline { display:block; font-variant: small-caps; color: #0096ff; font-size: 20pt; font-weight: light;} 
			h2 { color: #0096ff; font-size: 15pt; font-weight: normal; margin: 5px; margin-top: 25px; }
			h3 { color: #0096ff; font-size: 11pt; font-weight: normal; margin: 5px; margin-top: 20px; }
			.ColGrey .Headline, .ColGrey h1, .ColGrey h2, .ColGrey h3 { color: #FFFFFF; }
			.ColColor .Headline, .ColColor h1, .ColColor h2, .ColColor h3 { color: #FFFFFF; }	
			p { margin: 5px 10px 5px 10px; }
			a { text-decoration: none; cursor: pointer; color: inherit; }
			#NavBar .MenuLink { color: #FFFFFF; text-decoration: none; cursor: pointer; }
			.HeadlineS { display:block; font-variant: small-caps; color: #FFFFFF; font-size: 15pt; font-weight: light; } 
			.RefLink { text-decoration: none; cursor: pointer; }
			.MenuText { color: #FFFFFF; }
			.MainContent { display: none; }
			.HeadlineC { display:block; color: #0096ff; font-size: 20pt; font-weight: light; margin: 5px; }
			.HeadlineCF { display:block; color: #0096ff; font-size: 15pt; font-weight: light; margin: 5px; }
			.HeadlineCH1 { display:block; color: #0096ff; font-size: 15pt; font-weight: light; margin: 5px; }
			.HeadlineCH2 { display:block; color: #0096ff; font-size: 12pt; font-weight: light; margin: 5px; }
			.HeadlineCH3 { display:block; color: #0096ff; font-size: 11pt; font-weight: light; margin: 5px; }
			.SideBarContent { display: none; }
			.PartMemo { color: #888888;	}
			.PartA { color: #888888; }
			.PartMind {	padding-left: 5px; border-left: 5px solid #66bb66; color: #66BB66;	}
			.Sub { color: #66BB66; }
			.PartD { font-weight: normal; }
			.PartE { padding-left: 5px; border-left: 5px solid #FF0000; background-color: #EEEEEE; color: #FF0000; }
			.PartI { padding-left: 5px; border-left: 5px solid #B404AE; background-color: #EEEEEE; }
			.PartS { padding-left: 5px; border-left: 5px solid #66bb66; background-color: #EEEEEE; font-family: "Lucida Console","Monaco","Andale Mono",monospace; color: #66bb66; }
			.PartO { padding-left: 5px; border-left: 5px solid #DD8800; background-color: #EEEEEE; }
			.PartV { padding-left: 5px; border-left: 5px solid #01DFD7; background-color: #EEEEEE; }
			.PartR { padding-left: 5px; border-left: 5px solid #0096ff; background-color: #EEEEEE; }
			th{ text-align: left; font-size: 10pt; padding-left: 5px;}
			td {border: 5px solid #FFFFFF; background-color: #EEEEEE; padding: 5px;vertical-align: top;}
			.ChLog { width: 100%; }
			.ChLog td { padding: 2px;border: none;font-size: 10pt;margin: 5px;}
			.Info { width: 100%; }
			.Info td  { padding: 2px;border: none;font-size: 10pt;margin: 5px; background: none; border-bottom: 1px dashed #DDDDDD;}
			.BoxShadow { box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.4); margin: 5px 0px 5px 0px;}
			{{AddStyle}}
		</style>
		<script>
			function HideByClass(e){var t=document.querySelectorAll("."+e),n=0,r=t.length;for(n;n<r;n++){t[n].style.display="none"; } return false; }
			function ShowByClass(e){var t=document.querySelectorAll("."+e),n=0,r=t.length;for(n;n<r;n++){t[n].style.display="inline"; } return false; }
			function ShowById(e){document.getElementById(e).style.display="inline"; return false;}
			function HideById(e){document.getElementById(e).style.display="none"; return false;}
			function AddClassById(e,c){document.getElementById(e).className = document.getElementById(e).className + " " + c; return false; }
			function RemoveClassById(e,c){document.getElementById(e).className = document.getElementById(e).className.replace(/\bc\b/,''); return false; }
			function ShowFunction(FunctionName) { HideByClass('SideBarContent'); HideByClass('MainContent'); ShowById('GlobalFunctionList'); ShowById(FunctionName); return false; } 
			function ShowFile(FileName) { HideByClass('SideBarContent'); HideByClass('MainContent'); ShowById('GlobalFileSubList'); ShowById(FileName); return false; } 
			function ShowChapter(ChapterName) { return false; }
			function ShowNextByClass(Elem,Class) { Elem.style.display = "none"; Elem.parentNode.parentNode.querySelector('.'+Class).style.display="inline"; return false; }
		</script>
	</head>
	<body>
		<form style="margin: 0px;" class="FullHeight" action="#" method="POST">
			<div id="Wrapper">
				<div id="Col1" class="FullHeight ColColor">
					<div id="NavBar">{{NavBar}}</div>
				</div>
				<div id="Col2" class="FullHeight ColGrey">
					<div id="LeftContent">{{LeftContent}}</div>
				</div>
				<div id="Col3" class="FullHeight ColWhite">
					<div id="RightContent">{{RightContent}}</div>
				</div>
			</div>
		</form>
	</body>
</html>